<!DOCTYPE html>
<html>

<style>
    ul {
        margin-left: 20px;
    }
</style>

<head>
    <title>
        <%= title %>
    </title>
    <% include ./include/header %>
</head>

<body>
    <button class="btn btn-danger" id="logOut" onclick="logOut();">
        Log out
    </button>
    <div class="jumbotron" id="<%=post._id%>" level="0">
        <h4>
            <%= post.author %>
                <button class="btn btn-danger" style="float: right;" onclick="deletePost(this);">Xoá</button>
                <button class="btn btn-warning" style="float: right;" onclick="editPost(this);">Sửa</button>
        </h4>
        <h6>
            <%= post._id.getTimestamp().toLocaleString() %>
        </h6>
        <h3>
            <%= post.content %>
        </h3>
        <button>👍</button>
        <%= post.likes %> người thích điều này.
    </div>
    <% processComment(1, post); %>
</body>

</html>
<% function processComment(level, post)  { %>
    <ul class="list-group">
        <% post.comment.forEach(cmt => { %>
            <li class="list-group-item" level="<%=level%>" id="<%=cmt._id%>">
                <h5>
                    <%= cmt.author%>
                        <button class="btn btn-danger" style="float: right;" onclick="deletePost(this);">Xoá</button>
                        <button class="btn btn-warning" style="float: right;" onclick="editPost(this);">Sửa</button>
                </h5>
                <h6>
                    <%= cmt._id.getTimestamp().toLocaleString()%>
                </h6>
                <h4>
                    <%= cmt.content%>
                </h4>
                <% if (cmt.comment.length) {processComment(level + 1, cmt);}
            else {%>
                    <ul>
                        <div class="input-group mb-3" level="<%=level + 1%>" parent="<%=cmt._id%>">
                            <input type="text" class="form-control" placeholder="Type something...">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit" onclick="insertComment(this);">Comment</button>
                            </div>
                        </div>
                    </ul>
                    <%}%>
                        <% }); %>
            </li>
    </ul>
    <div class="input-group mb-3" level="<%=level%>" parent="<%=post._id%>">
        <input type="text" class="form-control" placeholder="Type something...">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit" onclick="insertComment(this);">Comment</button>
        </div>
    </div>
    <% } %>

        <script>
            function insertComment(btn) {
                let papa = btn.parentElement.parentElement;

                $.post("/api/insert", {
                        author: localStorage.getItem('name'),
                        content: papa.firstElementChild.value,
                        level: papa.getAttribute('level'),
                        parentId: papa.getAttribute('parent')
                    },
                    function(data, status) {
                        if (data == 'ok') {
                            location.reload();
                        }
                    });
            }

            function deletePost(btn) {
                if (!window.confirm('Delete it?')) {
                    return;
                }
                let papa = btn.parentElement.parentElement;
                $.post("/api/delete", {
                        id: papa.getAttribute('id'),
                        level: papa.getAttribute('level')
                    },
                    function(data, status) {
                        if (data == 'ok') {
                            if (papa.getAttribute('level') == 0) {
                                location.replace('/');
                            } else {
                                location.reload();
                            }
                        }
                    });
            }

            function editPost(btn) {
                let papa = btn.parentElement.parentElement;
                let content = papa.children[2].innerText;
                if (content = window.prompt('Enter new content:', content)) {
                    $.post("/api/edit", {
                            id: papa.getAttribute('id'),
                            level: papa.getAttribute('level'),
                            content: content
                        },
                        function(data, status) {
                            if (data == 'ok') {
                                location.reload();
                            }
                        });
                }
            }
        </script>